body { 
  font-family: pixeloid_sansregular;
}

a:link {
  text-decoration: none;
  color: rgb(12, 12, 12);
}

a:visited {
  text-decoration: none;
  color: rgb(12, 12, 12);
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(background.svg);
  
}

.pokemon {
  background-color: #e8e8e8;
  margin: 20px;
  height: 50vh;
  width: 40vw;
  text-align: center;
  text-transform: uppercase;
}

.pokemon p {
  padding-top: 20px;
  font-size: 2.5em;
}

.pokemon img {
  width: 50%;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(background-img.svg);
  width: 100vw;
  height: 100vh;
}


.pokemon-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  width: 50vw;
  height: 70vh;
}

.pokemon-card-first {
  display: flex;
  justify-content:  space-around;
  width: 100%;
  height: 60%;
}

.pokemon-card-zero {
  text-align: center;
  text-transform: uppercase; 
}

.pokemon-card-second {
  display: flex;
  justify-content: space-evenly;
  height: 40%;
}

.pokemon-card-first-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.pokemon-card-first-img {
  width: 50%;
}

.pokemon-card-first-img img {
  width: 70%;
}

.pokemond-card-second-stats {
  width: 50%;
}

.square {
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(32, 100, 160);
  width: 40px;
  height: 50px;
}

@font-face {
  font-family: 'pixeloid_sansregular';
  src: url('font/pixeloidsans-nr3g1.woff2') format('woff2'),
       url('font/pixeloidsans-nr3g1.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@media (max-width: 1300px) {
  .pokemon {
    height: 40vh;
  }

  
.pokemon p {
  padding-top: 20px;
  font-size: 2.0em;
}
}



@media (max-width: 850px) {
  .pokemon {
    margin: 20px;
    height: 50vh;
    width: 80vw;
    text-align: center;
    text-transform: uppercase;
  }

  
.pokemon p {
  padding-top: 20px;
  font-size: 2.0em;
}
}

@media (max-width: 600px) {
  .pokemon {
    margin: 20px;
    height: 35vh;
    width: 70vw;
    text-align: center;
    text-transform: uppercase;
  }
  .pokemon p {
    padding-top: 20px;
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .pokemon {
    margin: 20px;
    height: 25vh;
    width: 70vw;
    text-align: center;
    text-transform: uppercase;
  }
  .pokemon p {
    padding-top: 20px;
    font-size: 1.5em;
  }
}